#schedule.modal-dialog {
    width: 100%;
    max-width: 1150px
}

#schedule .modal-content {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box
}

#schedule .modal-header {
    padding: 0;
    border-bottom: none;
    background-color: #C2C0BC;
    height: 40px;
    color: white;
    border-radius: 0;
}

#schedule .modal-header div.step-container span.step-number,#schedule .modal-header #show #main-content .services>a.step-container span.step-number,#show #main-content #schedule .modal-header .services>a.step-container span.step-number,#schedule .modal-header #show #main-content .services .step-container.btn-service span.step-number,#show #main-content .services #schedule .modal-header .step-container.btn-service span.step-number,#schedule .modal-header div.step-container span.custom-field-step,#schedule .modal-header #show #main-content .services>a.step-container span.custom-field-step,#show #main-content #schedule .modal-header .services>a.step-container span.custom-field-step,#schedule .modal-header #show #main-content .services .step-container.btn-service span.custom-field-step,#show #main-content .services #schedule .modal-header .step-container.btn-service span.custom-field-step,#schedule .modal-header div.step-container span.datos,#schedule .modal-header #show #main-content .services>a.step-container span.datos,#show #main-content #schedule .modal-header .services>a.step-container span.datos,#schedule .modal-header #show #main-content .services .step-container.btn-service span.datos,#show #main-content .services #schedule .modal-header .step-container.btn-service span.datos {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #C2C0BC;
    font-size: 14px;
    display: inline-block
}

#schedule .modal-header div.step-container,#schedule .modal-header #show #main-content .services>a.step-container,#show #main-content #schedule .modal-header .services>a.step-container,#schedule .modal-header #show #main-content .services .step-container.btn-service,#show #main-content .services #schedule .modal-header .step-container.btn-service {
    width: 50%;
    padding: 10px 20px;
    left: 0;
    position: absolute;
    text-align: center;
}

#schedule .modal-header div.step-container.custom,#schedule .modal-header #show #main-content .services>a.step-container.custom,#show #main-content #schedule .modal-header .services>a.step-container.custom,#schedule .modal-header #show #main-content .services .step-container.custom.btn-service,#show #main-content .services #schedule .modal-header .step-container.custom.btn-service {
    width: calc(100% / 3)
}

#schedule .modal-header div.step-container.single,#schedule .modal-header #show #main-content .services>a.step-container.single,#show #main-content #schedule .modal-header .services>a.step-container.single,#schedule .modal-header #show #main-content .services .step-container.single.btn-service,#show #main-content .services #schedule .modal-header .step-container.single.btn-service {
    width: 100%;
    background-color: #009688
}

#schedule .modal-header div.step-container.half,#schedule .modal-header #show #main-content .services>a.step-container.half,#show #main-content #schedule .modal-header .services>a.step-container.half,#schedule .modal-header #show #main-content .services .step-container.half.btn-service,#show #main-content .services #schedule .modal-header .step-container.half.btn-service {
    left: 33.3%
}

#schedule .modal-header div.step-container.last,#schedule .modal-header #show #main-content .services>a.step-container.last,#show #main-content #schedule .modal-header .services>a.step-container.last,#schedule .modal-header #show #main-content .services .step-container.last.btn-service,#show #main-content .services #schedule .modal-header .step-container.last.btn-service {
    left: 50%
}

#schedule .modal-header div.step-container.last.custom,#schedule .modal-header #show #main-content .services>a.step-container.last.custom,#show #main-content #schedule .modal-header .services>a.step-container.last.custom,#schedule .modal-header #show #main-content .services .step-container.last.custom.btn-service,#show #main-content .services #schedule .modal-header .step-container.last.custom.btn-service {
    left: 66.6%
}

#schedule .modal-header .slider {
    background-color: #009688;
    position: absolute;
    width: 50%;
    height: 40px;
    z-index: 0;
    left: 0
}

#schedule .modal-header .slider .start,#schedule .modal-header .slider .end {
    position: absolute;
    width: 28px;
    height: 28px;
    left: -14px;
    top: 6px;
    background-color: #C2C0BC;
    transform: rotate(45deg)
}

#schedule .modal-header .slider .end {
    right: -14px;
    left: initial;
    background-color: #009688
}

#schedule .modal-body {
    clear: both;
    padding: 30px
}

#schedule .modal-footer {
    padding: 10px 30px;
    border-top: none;
    background: transparent;
    justify-content: space-between;
}

#schedule .modal-header .close {
    padding: 0;
    margin-right: 5px;
    margin-top: 5px;
}

#schedule .step-title {
    margin-left: 5px;
}

#schedule .modal-footer .btn{
    min-width: 140px;
}

#schedule .btn-success{
    background-color: #009688;
    border-color: #009688;
}

#schedule .btn-success:hover{
    background-color: #01776b;
    border-color: #01776b;
}

#schedule .modal-body{
    display: flex;

}

#schedule .modal-body > div{
    margin:5px;
}

#schedule .modal-appointment-main-product{
    flex:2
}

#schedule .modal-appointment-main-product .title{
    font-weight: 600;
    font-size: 18px;
}

#schedule .modal-appointment-main-product .description{
    text-align: justify;
    text-justify: inter-word;
}


#schedule .modal-appointment-product-list {
    flex: 1;
    padding: 0 12px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

#schedule .modal-appointment-product-list .title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    padding: 8px 0;
    font-weight: 500;
}


#schedule .modal-appointment-product-list .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}

#schedule .modal-appointment-product-list .products {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#schedule .modal-appointment-product-list .products-lists {
    flex: 1;
}

#schedule .modal-appointment-product-list .products-lists .product{
    padding: 8px;
    background: #f3f3f3;
    border-bottom: 1px solid;
}


#schedule .modal-appointment-product-list .products-lists .total{
    padding: 8px;
}

#schedule .modal-appointment-product-list .products-lists .btn-remove{
    color: red;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
}

#schedule .modal-appointment-form{
    flex:2
}

#schedule .modal-appointment-form .title{
    font-weight: 400;
    font-size: 21px;
}

#schedule .modal-appointment-form .react-datepicker-wrapper{
    display: block;
}

#schedule .modal-appointment-form .date-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#schedule .modal-header.no-slider {
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    border-bottom: none;
    background-color: #009688;
    height: 40px;
    color: white;
    border-radius: 0;
}
